{% extends "base.html"%}
{% load static %}
{% block title %}ExamPreprationServices | Tutor{% endblock %}
{% block scripts %} {% endblock %}

{% block body%}
<section class="team text-center py-5">
    <div class="container">
      <div class="header my-5">
        <h1>Exam Prepration Services </h1>

    <div class="container-md text-wrap col-md-6 text-muted">
        <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Provident sint tempora soluta nihil possimus hic aliquid rem rerum totam, porro voluptatibus, 
            incidunt ducimus in magnam nam delectus, ullam eaque nisi.</p>
        <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Porro iste eveniet, quibusdam eaque maiores amet exercitationem doloribus, 
            omnis autem, nisi dolores blanditiis itaque unde vero. Nam nihil quidem eum unde.</p>
    </div>
</div>
</div>
</section>





{% endblock %}