{% extends "base.html"%}
{% block title %}Home | Tutor{% endblock %}

{% block body%}

<div class="lorem-first">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Iste rerum minima, corrupti pariatur illum animi odit qui totam dolorem praesentium iure suscipit soluta maxime 
         id aspernatur aperiam quod inventore earum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Molestias explicabo facere voluptates, totam, esse quod temporibus placeat eaque maxime, dicta quam! Ducimus tempora dolorum porro, 
          velit eius sint eaque!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Totam reiciendis eos accusantium, saepe illum non excepturi voluptates dolor minus necessitatibus doloremque provident esse nihil iusto ullam, 
        unde beatae quis praesentium?
    </p>

</div>


{% endblock %}